.appHeader {
  height: 350px;
  width: 100%;
  background-image: url('./assets/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00adef;
}
.container {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */

  max-width: 1024px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
}

/* Home Page */

.heading {
  text-align: center;
  margin: 50px 0;
}
.heading h2{
  font-size: 28px;
  font-weight: 600;
  color: #1F262E;
}
.heading p{
  font-size: 18px;
  padding: 10px 0;
  color: rgba(31,38,46, 0.5)
}
.movieList {
  list-style: none;
  display: grid;
}
.movieList li {
  padding: 30px 15px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 5fr;
  grid-gap: 1.5rem;
}
.movieList li.odd {
  background-color: rgba(31,38,46, 0.1)
}
.movieList span {
  padding: 0 5px;
  font-size: 18px;
}
.movieList .name {
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #1F262E;
}
.movieList .description {
  font-size: 16px;
  text-align: center;
  line-height: 1.4;
}
.listHeader {
  padding: 25px 15px;
  max-height: 100px;
  align-self: flex-end;
}
.listHeader span {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #1F262E;
}

@media screen and (max-width: 762px){
  .movieList span, .movieList a {
    text-align: center;
  }
  .movieList .description {
    font-size: 14px;
  }
  .movieList li {
    grid-template-columns: auto;
    grid-template: auto;
  }
  .appHeader {
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: center;
  }
  .movieList .listHeader {
    display: none;
  }
}

/* Details Page */
.detailsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.basicInfo {
  color: #1F262E;
  padding: 0.5rem 0;
  flex-grow: 1;
  min-width: 400px;
}
.basicInfo h2, .detailsRow h2 {
  font-size: 36px;
  padding: 1.2rem 0;
  font-weight: 600;
}
.basicInfo h3, .detailsRow h3 {
  font-size: 22px;
  padding: 0.5rem 0;
}
.basicInfo strong {
  font-weight: 600;
}

.detailsCol {
  color: white;
  background-color: #1F262E;
  padding: 1rem;
  border-radius: 15px;
  text-align: center;
}
.detailsCol p {
  font-size: 18px;
  line-height: 1.5rem;
  padding: 1.2rem 0;
}
.detailsRow h2 {
 padding-top: 0;
}
@media screen and (max-width: 762px){
  .detailsRow {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}
